body {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    min-height: 75vh;
}

h1{
    font-family: "Playwrite DE Grund", cursive;
    margin-top: 0;
}

iframe{
    height: 32vw;
    width: 72vw;
    padding-bottom: 1em;
}

button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #000000; /* Text color */
    background-color: #ffffff; /* White background */
    border: 2px solid #000000; /* Black border */
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: black; /* Light gray background on hover */
    color:white
}

button:focus {
    outline: none;
    /* Optional: add styles for focus state */
}

button:active {
    background-color: #6d6d6d; /* Slightly darker gray background on active */
    border-color: #6d6d6d;
}